@using CoMute.Web.Models
@model IEnumerable<CarPoolIndexViewModel>
@{
    ViewBag.Title = "Home";
}

<div class="row">
    <table>
        <thead>
            <tr>Destination</tr>
            <tr>Origin</tr>
            <tr>Departure Time</tr>
            <tr>Date Joined</tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>@Html.DisplayFor(model => item.Destination)</tr>
                <tr>@Html.DisplayFor(model => item.Origin)</tr>
                <tr>@Html.DisplayFor(model => item.DepartureTime)</tr>
                <tr>@Html.DisplayFor(model => item.DateJoined)</tr>
            }
        </tbody>
    </table>
</div>

<div id="error" class="row row-margin hidden">
    <div class="col-md-4 col-md-offset-4 alert alert-danger">
        <p></p>
    </div>
</div>